.balend-fondo {
  height: 100vh;
  background: url('https://cinismodeunfotografo.files.wordpress.com/2015/06/mg_0038.jpg?w=636&h=417');
  background-repeat: no-repeat;
  background-size: cover;
}