/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2019, 04:28:01 PM
    Author     : spartan
*/

.letraChida {
     text-justify: auto;
     text-align: center;
     text-transform: uppercase;
}

#IdInput {
    
}

